from airflow import DAG
from airflow.models import Variable
from airflow.decorators import task, task_group
from airflow.exceptions import (
    AirflowException,
    AirflowBadRequest,
    AirflowNotFoundException,
    AirflowFailException
)
from airflow.utils.trigger_rule import TriggerRule
from datetime import datetime
from plugins.slack import SlackAlert
from plugins.aws_secret import get_aws_secret

import requests
import logging
import json
import os



slack_token = get_aws_secret(secret_name = "slack-token")['slack-token']
slack_alert = SlackAlert(channel="#monitoring_airflow", token=slack_token)


@task(trigger_rule=TriggerRule.ONE_FAILED, retries=1)
def extract(kind, url, params=None):
    from plugins.github_api import get_request

    response = get_request(kind=kind, url=url, params=params)      
    if isinstance(response, dict):
        return response.get('items', [])
    elif isinstance(response, list):
        return response
    else:
        logging.error("올바르지 않은 응답 형식")
        return []

@task
def transform(kind, columns, response):
    from plugins.common import deep_get
    
    logging.info(f"[{{ dag_id }}:{kind}] 데이터 변환 시작")
    return [{new_col: deep_get(item, old_col) for new_col, old_col in columns.items()} for item in response]


@task
def check(kind, data_list: list, valid_check: dict):
    from plugins.common import check_data
    
    logging.info(f"[{{ dag_id }}:{kind}] 데이터 값 검증 시작")
    data = check_data(kind=kind, data_list=data_list, valid_check=valid_check)
    checked_data = data.get('checked_data', [])
    error_data = data.get('error_data', [])
    if len(error_data) > 0:
        slack_alert.fail_alert(context=error_data)
        return checked_data
    else:
        return checked_data


@task
def load(kind, content, repo=None):
    from plugins.file_ops import load_as_json

    logging.info(f"[{{ dag_id }}:{kind}] 데이터 저장 시작")
    dag_root_path = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))
    load_as_json(dag_root_path, kind, content, repo)


{% if dag_id == "repo" %}
@task
def _delete_all_repo_from_redis():
    from plugins.redis_api import delete_all_repo_from_redis
    
    try:
        delete_all_repo_from_redis()
    except Exception as e:
        logging.error(f"레파지토리 정보 Redis 삭제 실패 {e}")

@task 
def _save_repo_to_redis(content):
    from plugins.redis_api import save_repo_to_redis, delete_all_repo_from_redis

    try:
        delete_all_repo_from_redis()
        for repo in content:
            _id = repo.get('ID')
            full_nm = repo.get('FULL_NM')
            if _id and full_nm:
                save_repo_to_redis(_id, full_nm)
            else:
                logging.error("레파지토리 ID 또는 FULL_NM 누락")
    except Exception as e:
        logging.error(f"레파지토리 정보 Redis 저장 실패 {e}")
{% endif %}

@task
def remove_duplicates(content):
    unique_items = []
    item_keys = set()

    for value in content.values():
        for item in value:
            item_id = item['ID']
            if item_id not in item_keys:
                unique_items.append(item)
                item_keys.add(item_id)
    return unique_items


{% if dag_id in ("repo", "meta") %}
@task_group
def etl():
{% else %}
@task_group
def etl(repo_fullnm):
{% endif %}
    result = {}
    tasks = {{ tasks }}
    for kind, task in tasks.items():
        {% if dag_id in ("repo", "meta") %}
        url = task['url']
        {% else %}
        url = task['url'].format(FULL_NM=repo_fullnm)
        {% endif %}
        try:
            if kind.startswith('language'):
                data = extract(kind=kind, url=url, params=task.get('params'))
                data = [{"LANG_NM": key, "LANG_BYTE": value} for key, value in data.items()]
            elif 'columns' in task:
                data = transform(kind=kind, columns=task.get('columns'), response=extract(kind=kind, url=url, params=task.get('params')))
            else:
                data = extract(kind=kind, url=url, params=task.get('params'))
            if 'check' in task:
                result[kind] = check(kind=kind, data_list=data, valid_check=task['check'])
            else:
                result[kind] = data    
        except Exception as e:
            logging.error(f"[{{ dag_id }}:{kind}] 데이터 수집 실패\\n" + repr(e))
            result[kind] = None
    {% if dag_id == "repo" %}
    result = remove_duplicates(result)
    _delete_all_repo_from_redis()
    _save_repo_to_redis(result)
    {% endif %}
    {% if dag_id not in ("repo", "meta") %}
    load(kind="{{ dag_id }}", content=result, repo= repo_fullnm.replace("/", "_"))
    {% else %}
    load(kind="{{ dag_id }}", content=result)
    {% endif %}


with DAG(
    dag_id="github_{{ dag_id }}",
    start_date=datetime(2023, 8, 24),
    schedule='{{ schedule }}',
    catchup={{ catchup or True }},
    on_success_callback=slack_alert.success_alert,
    on_failure_callback=slack_alert.fail_alert,
    max_active_runs = 10
) as dag:
    {% if dag_id not in ("repo", "meta") %}
    from plugins.redis_api import get_all_repo_data_from_redis
    
    repositories = get_all_repo_data_from_redis()
    for repo_info in repositories.values():
        etl(repo_info.get("FULL_NM"))
    {% else %}
    etl()
    {% endif %}
